* {
    --airhacks-orange: orange;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    background: #e9dad1;
}

header {
    background: var(--airhacks-orange, lightcoral);
    grid-column: 1 / -1;
}

footer {
    background: var(--airhacks-orange, lightcoral);
    grid-column: 1 / -1;
    padding: 1em;
    text-align: center;
}

footer a {
    color: rgb(0, 92, 230);
}

nav {
    background: lightblue;
}

example-view {
    background-color: lightyellow;
    padding: 0 1em 1em 1em;
}

example-view.game {
    grid-column: 1 / -1;
}

blog-post {
    background-color: yellow;
}

h1,
h2 {
    text-align: center;
}

counter-view {
    text-align: center;
}

counter-view input {
    width: 50px;
}

game-view {
    display: grid;
    grid-template-columns: 4fr 1fr 16fr 1fr 4fr;
    grid-template-areas: "player space1 arena space2 enemy" "player space1 cards space2 enemy"
}

.arena {
    grid-area: arena;
    margin: auto;
}

.character-model {
    width: 12vw;
    height: 24vw;
    margin: auto;
    background-color: white;
    border: 10px solid black;
    border-radius: 15px;
    text-align: center;
}

.player-model {
    grid-area: player;
}

.character-stats {
    margin: auto;
}

.enemy-model {
    grid-area: enemy;
}

.enemy-intent-Attack {
    color: red;
}

.enemy-intent-Block {
    color: blue;
}

.player-hand {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
    width: 10vw;
    height: 20vw;
    margin: auto;
    background-color: white;
    border: 10px solid white;
    border-radius: 15px;
    position: relative;
    bottom: 0;
    transition: bottom .1s;
}

.card-Block {
    border-color: blue;
}

.card-Defend {
    border-color: violet;
}

.card-Attack {
    border-color: red;
}

.card:hover {
    position: relative;
    bottom: 2vw;
}